<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.egt.shared.services.IStandardOutlineService">
      </proxy>
   </extension>
   
   
   <!--    Graph     -->
   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.egt.shared.graph.IEgtGraphPageService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.egt.shared.graph.IEgtGraphProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.egt.shared.graph.IEgtGraphLookupService">
      </proxy>
   
   
   <!--    Configuration     -->
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.egt.shared.configuration.IConfigurationProcessService">
      </proxy>
   </extension>

</plugin>
